<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="maxTarif">
            <h2><span>Max Tarif</span> {{maxTarif.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Duration</span></dt>
                <dd>
                    <span>{{maxTarif.duration}}</span>
                </dd>
                <dt><span>Tarif</span></dt>
                <dd>
                    <span>{{maxTarif.tarif}}</span>
                </dd>
                <dt><span>Currency</span></dt>
                <dd>
                    <span>{{maxTarif.currency}}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/max-tarif', maxTarif.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
