<div>
    <h2 id="page-heading">
        <span>Max Tarifs</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-max-tarif" [routerLink]="['/max-tarif/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Max Tarif
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="maxTarifs">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Duration</span></th>
            <th><span>Tarif</span></th>
            <th><span>Currency</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let maxTarif of maxTarifs ;trackBy: trackId">
                <td><a [routerLink]="['/max-tarif', maxTarif.id, 'view' ]">{{maxTarif.id}}</a></td>
                <td>{{maxTarif.duration}}</td>
                <td>{{maxTarif.tarif}}</td>
                <td>{{maxTarif.currency}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/max-tarif', maxTarif.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/max-tarif', maxTarif.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'max-tarif', { outlets: { popup: maxTarif.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
