<div>
    <h2 id="page-heading">
        <span>Steps</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-step" [routerLink]="['/step/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Step
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="steps">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Order</span></th>
            <th><span>Duration</span></th>
            <th><span>Tarif</span></th>
            <th><span>Currency</span></th>
            <th><span>Step Repeater</span></th>
            <th><span>Once</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let step of steps ;trackBy: trackId">
                <td><a [routerLink]="['/step', step.id, 'view' ]">{{step.id}}</a></td>
                <td>{{step.order}}</td>
                <td>{{step.duration}}</td>
                <td>{{step.tarif}}</td>
                <td>{{step.currency}}</td>
                <td>{{step.stepRepeater}}</td>
                <td>{{step.once}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/step', step.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/step', step.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', 'step', { outlets: { popup: step.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
